.main
{
    height: 1500px;
    width: 500px;
    /* border: 2px solid; */
    margin: 100px auto;
}

.nen
{
    height: 100px;
    width: 500px;
    /* border: 5px solid; */
    display: flex;
    box-sizing: border-box;
}

.nen1
{
    height: 100px;
    width: 50%;
    /* border: 5px solid; */
    padding: 40px;
    padding-left: 60px;
    box-sizing: border-box;
}

.point,.point1
{
    height: px;
    width: 100px;
    border: 5px solid;
    transform: rotate(-205deg);
}

.point1
{
    transform: rotate(205deg);
}

.eyesmain
{
    height: 250px;
    width: 500px;
    /* border: 2px solid; */
    display: flex;
}

.eyes
{
    height: 250px;
    width: 250px;
    /* border: 5px solid; */
    padding: 20px;
    padding-left: 60px;
    box-sizing: border-box;
}

.cercle
{
    height: 200px;
    width: 120px;
    border: 5px solid;
    border-radius: 50%;
    overflow: hidden;  
}

.clos
{
    height: 200px;
    width: 120px;
    border: 2px solid;
    /* border-radius: 50%; */
    transform: translate(0px,-260px);
    background-color: black;
    animation: closer 2s linear infinite alternate-reverse ;   
}


@keyframes closer
{
    from{transform: translate(0px,-260px);}
    to{transform: translate(-2px,-50px);}

    from{opacity: 0;}
    to{opacity: 1;}

}

.dola
{
    height: 40px;
    width: 40px;
    border: 5px solid;
    border-radius: 50%;
    transform: translate(70px,80px);
    animation: dola1 2s linear infinite alternate-reverse;
    transition: .10s;
}

@keyframes dola1
{
    from{transform: translate(70px,80px);}
    to{transform: translate(10px,80px);}
}

.smile
{
    height: 50px;
    width: 120px;
    border-radius: 50%;
    border: 3px solid black;
    transform: translate(185px,20px);
}